<article>
  <form
    class="form"
    [formGroup]="formularioRegistro"
  >
    <h2 class="formTitle">Registrate</h2>
    <p class="formP">¿Ya tienes una cuenta?</p>
    <a routerLink="/inicioSesion" class="formLink">Entra aquí</a>

    <div class="formContainer">
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="firstName"
            class="formInput"
            placeholder=" "
            name="firstName"
            formControlName="firstName"
          />
          <label for="firstName" class="fomrLabel">Nombres:</label>
          <span class="formLine"></span>
        </div>
      </div>
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="lastName"
            class="formInput"
            placeholder=" "
            name="lastName"
            formControlName="lastName"
          />
          <label for="lastName" class="fomrLabel">Apellidos:</label>
          <span class="formLine"></span>
        </div>
      </div>
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="email"
            class="formInput"
            placeholder=" "
            name="email"
            formControlName="email"
          />
          <label for="email" class="fomrLabel">Email:</label>
          <span class="formLine"></span>
        </div>
      </div>
      <div class="formContainer">
        <div class="formGroup">
          <input
            required
            type="text"
            id="password"
            class="formInput"
            placeholder=" "
            name="password"
            formControlName="password"
          />
          <label for="password" class="fomrLabel">Contraseña:</label>
          <span class="formLine"></span>
        </div>
      </div>
      <!-- <input type="submit" class="formSubmit" value="Registrarse"> -->

      <!-- <button type="submit" class="formSubmit">Registrarme</button> -->
      <button type="submit" (click)="handleSubmint()">Registrarme</button>
    

      <!-- <input type="submit" class="formSubmit" value="Iniciar Sesión"> -->

      <!-- <button (click)="handleSubmint(formSubmit)">Registrarse</button> -->
    </div>
  </form>
</article>
